/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$light:                           #fff !default;
$stable:                          #d35400 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

$button-stable-text:              #fff !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../fonts" !default;

// Include all of Ionic
@import "bower_components/ionic/scss/ionic";

.bar.nav-bar {
  background-color: #d35400;
  
  .button, .title {
    color: #fff;
  }
}

.menu.menu-left {
  background-color: #222;
  
  .title {
    color: #fff;
  }
  
  header, ion-content, .item, .item-content {
    background-color: #222;
    color: #ccc;
  }
  
  .item {
    border-color: #444;
  }
}
